<!-- destination-list.component.html -->
<app-titlebar [title]="'Sonderzeichen'">
  <div class="btn-toolbar">
    <button class="btn mx-1" type="button" (click)="addSpecialCharacter()"><fa-icon [icon]="faPlus"></fa-icon></button>
<button class="btn mx-1" type="button" (click)="editSpecialCharacter()" [disabled]="selectedRow.length == 0"><fa-icon [icon]="faPenSquare"></fa-icon></button>
<button class="btn mx-1" type="button" [disabled]="selectedRow.length == 0" (click)="deleteSpecialCharacter()"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
</app-titlebar>


<ngx-datatable #announcementsTable class="bootstrap container striped"[rows]="specialCharacters" columnMode="force" [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [selectionType]="selectionType" [selected]="selectedRow" (select)="onSelected($event)" [limit]="50"
>
  <ngx-datatable-column name="Nummer">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.number }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Text">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.stringValue }}
    </ng-template>
  </ngx-datatable-column>



  <!-- Add additional columns as needed -->

</ngx-datatable>
