<!-- destination-detail.component.html -->
<app-titlebar [title]="'Sonderzeichen'" [canGoBack]="true">
</app-titlebar>
<div>
  <form>
<div class="form-group row">
    <label for="number" class="col-form-label col-sm-2">Nummer:</label>
    <div class="col-sm-10">
      <input type="text" id="number" [(ngModel)]="specialCharacter.number" name="number" required class="form-control">
    </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-form-label col-sm-2">Text:</label>
      <div class="col-sm-10">
      <input type="text" id="stringValue" [(ngModel)]="specialCharacter.stringValue" name="stringValue" required class="form-control">
      </div>
    </div>

    <!-- Add other form fields as needed -->
    <div class="form-group row">
      <div class="col-sm-10">
    <button (click)="saveSpecialCharacter()" class="btn btn-primary">Speichern</button>
    </div>
    </div>
  </form>
</div>
