.container {
  max-width: 100%; /* Ensures full-width container */
}

.calendar-grid {
  display: flex;
  flex-direction: column;
}

.day {
  min-width: 14.28%; /* Each day takes 1/7th of the row */
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

h4 {
  margin-top: 20px;
}
.outside-month {
  color: #ddd;
}
.out-of-range {
  color: #ddd;
  text-decoration: line-through;
}
