<!-- route-detail.component.html -->
<app-titlebar [title]="'Route'" [canGoBack]="true"></app-titlebar>
<div *ngIf="route">
  <form>
    <div class="form-group" *ngIf="route">
      <label for="direction">Nummer:</label>
      <input type="number" id="number" [(ngModel)]="route.number" name="number" required>

</div>
    <!-- Example: Direction -->
    <div class="form-group">
      <label for="direction">Richtung:</label>
      <select name="direction" id="direction" [(ngModel)]="route.direction" class="form-control">
      <option value="Z">Z</option>
      <option value="H">H</option>
      <option value="R">R</option>

      </select>

    </div>

    <div class="form-group">
      <label for="destination">Ziel:</label>
      <select name="destination" id="destination" [(ngModel)]="route.destination_id" class="form-control">
      <option *ngFor="let destination of destinations" [ngValue]="destination.id">{{ destination.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="specialCharacter">Sondezeichen:</label>
      <select name="specialCharacter" id="specialCharacter" [(ngModel)]="route.special_character_id" class="form-control">
        <option>-</option>
        <option *ngFor="let specialCharacter of specialCharacters" [ngValue]="specialCharacter.id">{{ specialCharacter.stringValue }}</option>
      </select>
    </div>
     <!-- Example: Stops -->
     <div class="form-group" *ngIf="route">
      <h3>Haltestellen:</h3>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <button class="btn btn-success mx-2"><fa-icon [icon]="faPlus"></fa-icon></button>
      <button class="btn btn-primary mx-2" (click)="moveSelectedStopUp()" [disabled]="selectedRouteStop[0] == route.stops[0]"><fa-icon [icon]="faArrowUp"></fa-icon></button>
      <button class="btn btn-primary mx-2" (click)="moveSelectedStopDown()" [disabled]="selectedRouteStop[0] == route.stops[route.stops.length - 1]"><fa-icon [icon]="faArrowDown"></fa-icon></button>
      <button class="btn btn-danger mx-2" (click)="removeSelectedStop()" [disabled]="selectedRouteStop.length == 0"><fa-icon [icon]="faTrash"></fa-icon></button>
      <button class="btn btn-info mx-2" (click)="showAutoRoute()"><fa-icon [icon]="faPlus"></fa-icon></button>

</div>
      <ngx-datatable class="bootstrap container striped" [rows]="route.stops" columnMode="force" [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [selectionType]="selectionType" [selected]="selectedRouteStop" (select)="onSelected($event)">
        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.sequence_number }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ID">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.stop.id }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" prop="stop.name"></ngx-datatable-column>
        <!-- Add additional columns as needed -->
        <ngx-datatable-column name="Türseite">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <select [ngModelOptions]="{standalone: true}" class="form-select" [(ngModel)]="row.doorSide">
              <option value="0">-</option>
              <option value="1">rechts</option>
              <option value="2">links</option>
            </select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Hochbahnsteig">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <input [ngModelOptions]="{standalone: true}" type="checkbox" class="form-check-input" [(ngModel)]="row.hasHighPlatform" name="has-high-platform">
          </ng-template>
        </ngx-datatable-column>
      <ngx-datatable-column name="Ansage">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <select [ngModelOptions]="{standalone: true}" name="announcement" id="announcement" [(ngModel)]="row.announcement_id" class="form-control">
            <option *ngFor="let announcement of announcements" [ngValue]="announcement.id">{{ announcement.name }}</option>
            </select>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    </div>


<div class="form-group">
  <label for="stopSelect">Haltestelle suchen:</label>
  <app-stop-search-field (onSelectStop)="selectStop($event)"></app-stop-search-field>
</div>

<app-auto-route (onRouteFound)="autoRouteFound($event)" [isVisible]="showingAutoRoute"></app-auto-route>
    <!-- Button to add stop to the route -->

    <!-- Add buttons for adding/removing stops, and reordering them -->

    <button type="submit" class="btn btn-primary" (click)="saveRoute()">Speichern</button>
  </form>

</div>
