<app-titlebar [title]="'Firmenkalender'" [canGoBack]="false"></app-titlebar>

<div class="calendar-view">
  <form>
    <!-- Fahrplan Date Range -->
    <div class="form-group row">
      <label for="begin_fahrplan" class="col-form-label col-sm-2">Fahrplan ab:</label>
      <div class="col-sm-2">
        <input 
          type="date" 
          id="begin_fahrplan" 
          name="begin_fahrplan" 
          required 
          class="form-control" 
          [(ngModel)]="beginDate">
      </div>
    </div>
    <div class="form-group row">
      <label for="end_fahrplan" class="col-form-label col-sm-2">Fahrplan bis:</label>
      <div class="col-sm-2">
        <input 
          type="date" 
          id="end_fahrplan" 
          name="end_fahrplan" 
          required 
          class="form-control" 
          [(ngModel)]="endDate">
      </div>
    </div>

    <!-- Tagesarten (Day Types) List -->
    <div class="daytype-list col-sm-6">
      <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-6 fw-semibold">Tagesarten</span>
        <div>
          <button 
            class="btn btn-success mx-2" 
            type="button" 
            (click)="openModal(tagesartModal)">
            +
          </button>
          <button 
            class="btn btn-warning mx-2" 
            type="button" 
            (click)="openModal(tagesartModal, selectedDayType)" 
            [disabled]="!selectedDayType">
            Bearbeiten
          </button>
          <button 
            class="btn btn-danger mx-2" 
            type="button" 
            [disabled]="!selectedDayType" 
            (click)="deleteDaytype()">
            Löschen
          </button>
        </div>
      </div>

      <!-- ngx-datatable -->
      <ngx-datatable 
        #daytypeList 
        class="bootstrap container striped" 
        [rows]="daytypes" 
        columnMode="force" 
        [headerHeight]="40" 
        [footerHeight]="50" 
        [rowHeight]="'auto'" 
        [selectionType]="selectionType" 
        (select)="onSelected($event)" 
        [limit]="50">
        
        <ngx-datatable-column name="Nr.">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.TAGESART_NR }}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Beschreibung">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.TAGESART_TEXT }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

    <!-- Year Calendar -->
    <app-year-calendar [beginDate]="_beginDate" [endDate]="_endDate"></app-year-calendar>
  </form>
</div>

<!-- Modal for Tagesart -->
<ng-template #tagesartModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Tagesart</h4>
    <button 
      type="button" 
      class="btn close" 
      aria-label="Close" 
      (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="number" class="col-form-label col-sm-4">Nummer:</label>
        <div class="col-sm-8">
          <input 
            type="number" 
            id="number" 
            name="number" 
            required 
            class="form-control" 
            [(ngModel)]="selectedDayType!.tagesart_nr">
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-4">Beschreibung:</label>
        <div class="col-sm-8">
          <input 
            type="text" 
            id="beschreibung" 
            name="beschreibung" 
            class="form-control" 
            [(ngModel)]="selectedDayType!.tagesart_text">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button 
      type="button" 
      class="btn btn-primary" 
      (click)="saveTagesart()">
      Speichern
    </button>
    <button 
      type="button" 
      class="btn btn-secondary" 
      (click)="modal.dismiss()">
      Schließen
    </button>
  </div>
</ng-template>
