<!-- line-detail.component.html -->
<h2>Line Detail</h2>
<div *ngIf="line">
  <form (ngSubmit)="saveLine()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="line.name" name="name" required>
    </div>
    <div>
      <label for="color">Color:</label>
      <input type="text" id="color" [(ngModel)]="line.color" name="color" required>
    </div>
    <!-- Add other form fields as needed -->
    <button type="submit">Save</button>
  </form>

</div>
<ngx-datatable #routesTable class="bootstrap container striped" [rows]="routes" columnMode="force" [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [selectionType]="selectionType" [selected]="selectedRow" (select)="onSelected($event)" [limit]="50"
>
  <ngx-datatable-column name="Route ID">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.id }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="From">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.stops[0].name }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="To">
    <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.stops[row.stops.length - 1].name }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Destination">
    <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.destination }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
