<main>
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; min-height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">IFES X</span>
  </a>
  <hr>

<!-- DV Auswahl -->
 <h5>Aktuelle Datenversorgung:</h5>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-dark" *ngFor="let version of versionen">
      <div class="ms-2 me-auto">
        <div class="fw-bold">DV {{ version.id }}</div>
        15.05.2021
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">DV 2</div>
        01.08.2021
      </div>
    </li>
    
  </ul>




  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a class="nav-link text-white"  routerLink="/calendar" routerLinkActive="active">
        <fa-icon [icon]="faCalendar"></fa-icon>
        Firmenkalender
      </a>
    </li>
    <li>
      <a class="nav-link text-white"  routerLink="/lines" routerLinkActive="active">
        <fa-icon [icon]="faRoute"></fa-icon>
        Linien
      </a>
    </li>
    <li>
      <a class="nav-link text-white"  routerLink="/stops" routerLinkActive="active">
        <fa-icon [icon]="faCircleH"></fa-icon>
        Haltestellen
      </a>
    </li>
    <li>
      <a class="nav-link text-white"  routerLink="/destinations" routerLinkActive="active">
        <fa-icon [icon]="faLocationCrosshairs"></fa-icon>
        Ziele
      </a>
    </li>
    <li>
      <a class="nav-link text-white"  routerLink="/announcements" routerLinkActive="active">
        <fa-icon [icon]="faVolumeHigh"></fa-icon>
        Ansagen
      </a>
    </li>
    <li>
      <a class="nav-link text-white"  routerLink="/specialCharacters" routerLinkActive="active">
        <strong>&nbsp;E&nbsp;</strong>
        Sonderzeichen
      </a>
    </li>
    <li>
      <a class="nav-link text-white"  routerLink="/network" routerLinkActive="active">
        <fa-icon [icon]="faMap"></fa-icon>
        Netzeditor
      </a>
    </li>
    <li>
      <a class="nav-link text-white"  routerLink="/schedule" routerLinkActive="active">
        <fa-icon [icon]="faTableList"></fa-icon>
        Fahrplan
      </a>
    </li>
  </ul>
  <hr>

</div>

<div class="d-flex flex-fill flex-grow-1 row content-column">
  <router-outlet></router-outlet>
</div>
</main>
