<app-titlebar [title]="'Firmenkalender'" [canGoBack]="false"></app-titlebar>
<div class="calendar-view">
<form>
  <div class="form-group row">
    <label for="begin_fahrplan" class="col-form-label col-sm-2">Fahrplan ab:</label>
    <div class="col-sm-2">
    <input type="date" id="begin_fahrplan"  name="begin_fahrplan" required class="form-control" [(ngModel)]="beginDate">
    </div>
  </div>
  <div class="form-group row">
    <label for="end_fahrplan" class="col-form-label col-sm-2">Fahrplan bis:</label>
    <div class="col-sm-2">
    <input type="date" id="end_fahrplan"  name="end_fahrplan" required class="form-control" [(ngModel)]="endDate">
    </div>
  </div>
  <div class="daytype-list col-sm-6">
    <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <span class="fs-6 fw-semibold">Tagtypen</span>
      <div>
        <button class="btn btn-success mx-2" type="button" (click)="addDaytype()">+</button>
        <button class="btn btn-warning mx-2" type="button" (click)="editDaytype()" [disabled]="selectedDayType.length == 0">Bearbeiten</button>
        <button class="btn btn-danger mx-2" type="button" [disabled]="selectedDayType.length == 0" (click)="deleteDaytype()">Löschen</button>
      </div>
      </div>

    <ngx-datatable #daytypeList class="bootstrap container striped"[rows]="daytypes" columnMode="force" [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [selectionType]="selectionType" [selected]="selectedDayType" (select)="onSelected($event)" [limit]="50"
>
  <ngx-datatable-column name="Nr.">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.id }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Beschreibung">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.name }}
    </ng-template>
  </ngx-datatable-column>
  </ngx-datatable>
  </div>
<app-year-calendar [beginDate]="_beginDate" [endDate]="_endDate"></app-year-calendar>
</form>
</div>

