<!-- route-list.component.html -->

<h2>Routes for Line {{ lineId }}</h2>
<button type="button" class="btn btn-primary">Create New Route</button>

<div class="list-group">
  <ng-container *ngFor="let route of routes">
    <a routerLink="/routes/{{ lineId }}/{{ route.route_id }}" class="list-group-item">
      <span>{{ route.route_id }}</span>&nbsp;
      <span class="ml-2">{{ route.stops[0]?.name }}</span> –
      <span class="ml-2">{{ route.stops[route.stops.length - 1]?.name }}</span>
    </a>
  </ng-container>
</div>
