/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.live-select .dropdown-menu {
  display:block;
}
.line-number-block {
  display: inline-block;
  padding: 0.1em 0.4em;
  background-color: #003264;
  color: #fff;
  font-weight: 500;
  border-radius: 0.3em;
}
button:not(:disabled), [type=button]:not(:disabled),.btn:not(:disabled), .nav-link {
  cursor: default;
}
input[type=color] {
 width: 3em;
}
main {
  display: flex;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: rgba(0,0,0,0.2) !important;
}
body {
  overflow-y: hidden;
}
.content-column {
  height: 100vh;
  overflow-y:scroll;
}
#map {
  width: 100%;
  height: 100%;
}
router-outlet {
  display: none;
}
/*
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-odd:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
*/
